<!DOCTYPE html>
<html>
<head>
  <title>DBC Campuses</title>
</head>
<body>
  <h1>Request City for DBC Expansion</h1>
  <form action="/cityrequest" method="POST">
  <label>Your Name:</label><input type="text" name="name">
    <label>Requested City:</label><input type="text" name="city">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
