/***********
 Use CSS to add the following to your site.

At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID ***********/

.photo {
	border-radius: 11px;
}

.copyright {
	display: block;
	margin: 0 auto;
}

h2, h3 {
padding: 2%;
border-style: solid;
border-width: 1px
}

body{
	font-family: 'Raleway', sans-serif;
}

#table {
	margin: 30px 20px 12px 20px;
}

footer {
font-family: 'Oxygen', sans-serif;
width: 100%;
position: relative;
text-align: center;
}